@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  /* background-image: url('/header-bg.png'); */
  background-color: #00000050;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
